
@font-face {
    font-family: circe-rounded;
    src: url(https://use.typekit.net/af/83236a/00000000000000007735afd6/30/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/83236a/00000000000000007735afd6/30/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/83236a/00000000000000007735afd6/30/a?subset_id=2&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: circe-rounded;
    src: url(https://use.typekit.net/af/154410/00000000000000007735afdd/30/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/154410/00000000000000007735afdd/30/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/154410/00000000000000007735afdd/30/a?subset_id=2&fvd=n7&v=3) format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: circe;
    src: url(https://use.typekit.net/af/6c2a3b/00000000000000007735afd3/30/l?subset_id=2&fvd=n3&v=3) format("woff2"), url(https://use.typekit.net/af/6c2a3b/00000000000000007735afd3/30/d?subset_id=2&fvd=n3&v=3) format("woff"), url(https://use.typekit.net/af/6c2a3b/00000000000000007735afd3/30/a?subset_id=2&fvd=n3&v=3) format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: circe;
    src: url(https://use.typekit.net/af/4824d6/00000000000000007735afdf/30/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/4824d6/00000000000000007735afdf/30/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/4824d6/00000000000000007735afdf/30/a?subset_id=2&fvd=n7&v=3) format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: circe;
    src: url(https://use.typekit.net/af/1dc972/00000000000000007735afe6/30/l?subset_id=2&fvd=n8&v=3) format("woff2"), url(https://use.typekit.net/af/1dc972/00000000000000007735afe6/30/d?subset_id=2&fvd=n8&v=3) format("woff"), url(https://use.typekit.net/af/1dc972/00000000000000007735afe6/30/a?subset_id=2&fvd=n8&v=3) format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: auto;
}