.recipe-section-title{
	margin: 20px 0px 5px 0px;
}

.recipe-link{
	display: block;
	padding: 0px 0px 0px 10px;
}

.page-title{
	font-size: 200%;
}

.jumbotron{
	background: #177E89;
	color: white;
}

.title{
	font-size: 150%;
	padding: 50px 0px 20px 0px;
	background: #177E89;
	height: 150px;
	color : white;
}

.ingredient-title{
	font-size: 120%;
	margin: 20px 0px 10px 0px;
}

.ingredient{
	padding-left: 20px;
}

.directions-title{
	font-size: 120%;
	margin: 20px 0px 10px 0px;
}

.method-step{
	margin-bottom: 10px;
}

