@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*
*
* COLORS and VARIABLES
*
*/
/*
*
* STYLES for APPLICATION
*
*/
body {
  background: #E8E8E8;
  font-family: circe-rounded; }

.nav-button-left {
  float: left;
  background: #F7F7F7;
  color: black;
  padding-top: 10px;
  font-weight: 300;
  border-bottom: solid 2px rgba(0, 0, 0, 0);
  margin-right: 20px; }

.nav-button-left:hover {
  text-decoration: none;
  color: black;
  border-bottom: solid 2px black; }

.nav-button-right {
  float: right;
  color: black;
  background: #F7F7F7;
  padding-top: 10px;
  font-weight: 300;
  border-bottom: solid 2px rgba(0, 0, 0, 0);
  margin-left: 20px; }

.nav-button-right:hover {
  text-decoration: none;
  color: black;
  border-bottom: solid 2px black; }

.nav-bar {
  clear: both;
  width: 100%;
  background: #F7F7F7;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px; }

.page-title {
  display: block;
  font-size: 400%;
  font-weight: 900;
  font-family: 'circe';
  padding: 0.40em 0.25em 0.35em 0.25em;
  background: #0D9EB6;
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-color: #F4BA49;
  word-wrap: break-word;
  line-height: 1.15em;
  width: 100%; }

.jumbotron {
  background: #0D9EB6;
  color: #DFE3E7;
  padding: 2rem 1rem;
  margin-bottom: 0em;
  border-radius: 0em; }

.non-footer {
  background: #F7F7F7;
  min-height: calc(100vh - 50px); }

.footer-container {
  height: 50px;
  background: #0D9EB6;
  background-image: url("../images/footer-background.svg");
  background-repeat: no-repeat;
  background-position: center top;
  color: white; }

.footer-spacer {
  height: 16px; }

.footer-text {
  color: white;
  font-size: smaller; }

a {
  color: #0D9EB6; }

a:hover {
  color: #962634;
  text-decoration: none; }

table > thead {
  background: #0D9EB6;
  color: #DFE3E7; }

caption {
  padding-top: .25rem;
  color: #CCCCCE; }

figcaption {
  padding-top: .25rem;
  color: #CCCCCE; }

input {
  border: 2px solid #CCCCCE; }

/*
*
*  Styles for INDEX 
*
*/
.recipe-list {
  padding-bottom: 1em; }

.recipe-section-title {
  margin: 1.25em 0em 5px 0em;
  color: #962634;
  font-size: 150%;
  font-weight: 500; }

.recipe-link {
  display: block;
  font-size: 120%;
  padding: 0em 0em 0em 0em; }

.vegetarian::after {
  padding-left: 0.5em;
  content: url(../images/Veggie.svg); }

.guide-link {
  display: block;
  font-size: 120%;
  padding: 0em 0em 0em 0em; }

.resource-link {
  display: block;
  font-size: 120%;
  padding: 0em 0em 0em 0em; }

.resource-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  padding: 1.25em 0em 0.5em 0em; }

/*
*
*  Styles for RECIPES   
*
*/
.recipe {
  padding-bottom: 1em; }

.servings {
  padding-top: 1em; }

.servings::before {
  color: #0D9EB6;
  font-size: 90%;
  text-transform: uppercase;
  content: "Servings: "; }

#servings {
  text-align: right;
  padding-right: 5px; }

#cake-rectangle-number {
  text-align: right;
  padding-right: 5px; }

#cake-rectangle-length {
  text-align: right;
  padding-right: 5px; }

#cake-rectangle-width {
  text-align: right;
  padding-right: 5px; }

#cake-round-number {
  text-align: right;
  padding-right: 5px; }

#cake-round-diameter {
  text-align: right;
  padding-right: 5px; }

.source-link {
  padding-top: 1.5em; }

.source-link::before {
  color: #0D9EB6;
  font-size: 90%;
  text-transform: uppercase;
  content: "Source: "; }

.recipe-details {
  margin-top: 1em; }

.ingredient-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #0D9EB6;
  padding: 1em 0em 0.5em 0em; }

.ingredient {
  text-indent: -2em;
  margin-left: 2em;
  margin-bottom: 0.3em;
  font-weight: 600;
  text-transform: lowercase; }

.ingredient-sub-list {
  margin-top: 1em;
  color: #0D9EB6;
  text-transform: uppercase; }

.ingredient-sub-list-top {
  color: #0D9EB6;
  text-transform: uppercase; }

.ingredient-spacer {
  height: 0.5em; }

.servings-not-adjusted::before {
  content: '!NOT ADJUSTED! '; }

.adjusted {
  font-style: italic;
  color: #F4BA49; }

.alternative-ingredient {
  display: block;
  font-style: italic;
  font-weight: 400; }

.alternative-ingredient::before {
  padding-left: 1em;
  color: #0D9EB6;
  font-size: 90%;
  font-style: italic;
  content: 'or: '; }

.optional::before {
  font-style: italic;
  font-weight: 400;
  content: '(optional) '; }

.directions-title {
  color: #0D9EB6;
  border-top: 0.5em solid #DFE3E7;
  padding-top: 1.25em;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 600;
  margin: 1.25em 0em 0.5em 0em; }

.method-sub-list {
  margin-top: 1.0em;
  color: #0D9EB6; }

.method-sub-list-top {
  color: #0D9EB6; }

.method-part {
  margin-bottom: 0.5em; }

.method-step {
  padding-bottom: 0.5em; }

.method-step-optional {
  padding-bottom: 0.5em; }

.method-step-optional::after {
  font-style: italic;
  font-weight: 300;
  content: ' (optional)'; }

@media (min-width: 576px) {
  .directions {
    border-left: 2px solid #0D9EB6; } }

ol.directions-list li {
  counter-increment: methodstepcount; }

@media (max-width: 575px) {
  .directions-list {
    padding-top: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    border-top: 2px solid #0D9EB6; } }

ol.directions-list li:before {
  content: counter(methodstepcount) ". ";
  color: #0D9EB6; }

ol.directions-list {
  list-style: none;
  counter-reset: methodstepcount;
  padding-inline-start: 0px; }

.note {
  margin-bottom: 0.3em;
  font-weight: 200; }

.note::before {
  font-weight: 500;
  color: #0D9EB6;
  font-size: 90%;
  content: 'NOTE: '; }

.alternative-recipe {
  font-weight: 500;
  color: #0D9EB6;
  margin-bottom: 0.3em; }

.alternative-recipe::before {
  content: 'ALTERNATIVE RECIPE: '; }

.variation {
  font-weight: 500;
  color: #0D9EB6;
  margin-bottom: 0.3em; }

.variation::before {
  content: 'VARIATION: '; }

.serve-with {
  font-weight: 500;
  color: #0D9EB6;
  margin-top: 0.3em; }

.serve-with::before {
  content: 'SERVE WITH: '; }

.recipe-image {
  width: 100%;
  padding-top: 1em; }

.serving-suggestions-title {
  color: #0D9EB6; }

.serving-suggestions-list {
  padding-inline-start: 0px; }

li.serving-suggestion {
  list-style-type: circle;
  list-style-position: inside; }

/*
*
*  Styles for COOKING LOG 
*
*/
.log-entry {
  padding-top: 1.25em; }

.log-header {
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  text-transform: uppercase; }

.log-date {
  display: inline; }

.log-title {
  padding-left: 0.6em;
  display: inline; }

.log-rating-unknown {
  padding-left: 1em;
  display: inline; }

.log-rating-0 {
  padding-left: 1em;
  display: inline; }

.log-rating-1 {
  padding-left: 1em;
  display: inline; }

.log-rating-2 {
  padding-left: 1em;
  display: inline; }

.log-rating-3 {
  padding-left: 1em;
  display: inline; }

.log-rating-4 {
  padding-left: 1em;
  display: inline; }

.log-rating-5 {
  padding-left: 1em;
  display: inline; }

.log-rating-6 {
  padding-left: 1em;
  display: inline; }

.log-rating-7 {
  padding-left: 1em;
  display: inline; }

.log-rating-8 {
  padding-left: 1em;
  display: inline; }

.log-rating-9 {
  padding-left: 1em;
  display: inline; }

.log-rating-10 {
  padding-left: 1em;
  display: inline; }

.log-rating-unknown::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "?"; }

.log-rating-0::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f006\f006\f006\f006\f006\f006\f006\f006\f006\f006"; }

.log-rating-1::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f006\f006\f006\f006\f006\f006\f006\f006\f006"; }

.log-rating-2::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f006\f006\f006\f006\f006\f006\f006\f006"; }

.log-rating-3::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f006\f006\f006\f006\f006\f006\f006"; }

.log-rating-4::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f005\f006\f006\f006\f006\f006\f006"; }

.log-rating-5::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f005\f005\f006\f006\f006\f006\f006"; }

.log-rating-6::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f005\f005\f005\f006\f006\f006\f006"; }

.log-rating-7::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f005\f005\f005\f005\f006\f006\f006"; }

.log-rating-8::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f006\f006"; }

.log-rating-9::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f005\f006"; }

.log-rating-10::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005"; }

.log-header.collapsed::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f078"; }

.log-header:not(.collapsed)::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f077"; }

/*
*
*  Styles for WHAT'S THAT CALLED...
*
*/
.name-from {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  padding: 0.5em 0em   0em 0em; }

.name-to::before {
  content: '  '; }

/*
*
*  Styles for PROJECTS
*
*/
.project-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  padding: 1.25em 0em 0.5em 0em; }

.project-detail {
  display: block;
  padding: 0em 0em 0em 0em; }

.project-description {
  display: block;
  font-weight: 600;
  padding: 0em 0em 0em 0em; }

/*
*
*  Styles for GUIDES
*
*/
.guide-section-first, .guide-section {
  color: #0D9EB6;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 600;
  padding-top: 1.25em; }

.guide-section {
  border-top: 5px solid #DFE3E7;
  margin: 1.25em 0em 0.5em 0em; }

@media (min-width: 576px) {
  .guide-header {
    margin-top: 1.25em; } }

.guide {
  padding-bottom: 1em; }

@media (min-width: 576px) {
  .guide {
    border-left: 1px solid #CCCCCE;
    border-right: 1px solid #CCCCCE;
    border-bottom: 1px solid #CCCCCE; } }

/*
*
*  Styles for Where Can I Buy
*
*/
#shopmap {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 100%;
  /* The height is 400 pixels */
  width: 100%; }

/*
*
*  Styles for WEIGHTS AND VOLUMES 
*
*/
