body {
  background: #DFE3E7; }

.container {
  background: white; }

.recipe-list {
  border-left: 1px solid #CCCCCE;
  border-right: 1px solid #CCCCCE; }

.recipe-section-title {
  margin: 20px 0px 5px 0px;
  color: #962634;
  font-size: 150%;
  font-weight: 500; }

.recipe-link {
  display: block;
  font-size: 120%;
  padding: 0px 0px 0px 0px; }

@media (min-width: 576px) {
  .recipe-header {
    margin-top: 20px; } }

.page-title {
  display: block;
  font-size: 400%;
  font-weight: 900;
  padding: 20px 15px 20px 15px;
  background: #0D9EB6;
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-color: #F4BA49;
  word-wrap: break-word;
  line-height: 1.15em; }

@media (min-width: 576px) {
  .page-title {
    border-left: 1px solid #CCCCCE;
    border-right: 1px solid #CCCCCE; } }

.jumbotron {
  background: #0D9EB6;
  color: #DFE3E7;
  padding: 2rem 1rem;
  margin-bottom: 0px;
  border-radius: 0px; }

.recipe {
  padding-bottom: 15px; }

@media (min-width: 576px) {
  .recipe {
    border-left: 1px solid #CCCCCE;
    border-right: 1px solid #CCCCCE;
    border-bottom: 1px solid #CCCCCE; } }

.ingredient-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  padding: 20px 0px 10px 0px; }

.directions-title {
  color: #962634;
  border-top: 10px solid #DFE3E7;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 600;
  margin: 20px 0px 10px 0px; }

.method-step {
  margin-bottom: 10px; }

a {
  color: #0D9EB6; }

a:hover {
  color: #962634;
  text-decoration: none; }
