@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*
*
* COLORS and VARIABLES
*
*/
/*
*
* STYLES for APPLICATION
*
*/
body {
  background: #DFE3E7; }

.container {
  background: white; }

.page-title {
  display: block;
  font-size: 400%;
  font-weight: 900;
  padding: 20px 15px 20px 15px;
  background: #0D9EB6;
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-color: #F4BA49;
  word-wrap: break-word;
  line-height: 1.15em; }

@media (min-width: 576px) {
  .page-title {
    border-left: 1px solid #CCCCCE;
    border-right: 1px solid #CCCCCE; } }

.jumbotron {
  background: #0D9EB6;
  color: #DFE3E7;
  padding: 2rem 1rem;
  margin-bottom: 0px;
  border-radius: 0px; }

a {
  color: #0D9EB6; }

a:hover {
  color: #962634;
  text-decoration: none; }

table > thead {
  background: #0D9EB6;
  color: #DFE3E7; }

caption {
  padding-top: .25rem; }

input {
  border: 2px solid #CCCCCE; }

/*
*
*  Styles for INDEX 
*
*/
.recipe-list {
  border-left: 1px solid #CCCCCE;
  border-right: 1px solid #CCCCCE; }

.recipe-section-title {
  margin: 20px 0px 5px 0px;
  color: #962634;
  font-size: 150%;
  font-weight: 500; }

.recipe-link {
  display: block;
  font-size: 120%;
  padding: 0px 0px 0px 0px; }

.vegetarian::after {
  padding-left: 0.5em;
  content: url(../images/Veggie.svg); }

.guide-link {
  display: block;
  font-size: 120%;
  padding: 0px 0px 0px 0px; }

.resource-link {
  display: block;
  font-size: 120%;
  padding: 0px 0px 0px 0px; }

.resource-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  padding: 20px 0px 10px 0px; }

/*
*
*  Styles for RECIPES   
*
*/
.recipe {
  padding-bottom: 15px; }

@media (min-width: 576px) {
  .recipe {
    border-left: 1px solid #CCCCCE;
    border-right: 1px solid #CCCCCE;
    border-bottom: 1px solid #CCCCCE; } }

@media (min-width: 576px) {
  .recipe-header {
    margin-top: 20px; } }

.servings {
  padding-top: 0.25em; }

.servings::before {
  content: "Servings: "; }

#servings {
  text-align: right;
  padding-right: 5px; }

#cake-rectangle-number {
  text-align: right;
  padding-right: 5px; }

#cake-rectangle-length {
  text-align: right;
  padding-right: 5px; }

#cake-rectangle-width {
  text-align: right;
  padding-right: 5px; }

#cake-round-number {
  text-align: right;
  padding-right: 5px; }

#cake-round-diameter {
  text-align: right;
  padding-right: 5px; }

.source-link::before {
  content: "Source: "; }

.ingredient-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  padding: 16px 0px 8px 0px; }

.ingredient-sub-list {
  margin-top: 0.4em;
  color: #962634;
  text-transform: uppercase; }

.ingredient-spacer {
  height: 0.5em; }

.servings-not-adjusted::before {
  content: '(NOT ADJUSTED WITH SERVINGS) '; }

.adjusted {
  font-style: italic;
  color: #F4BA49; }

div.alternative-ingredient {
  display: inline; }

.alternative-ingredient::before {
  color: #962634;
  content: ' alternative: '; }

.optional::after {
  font-style: italic;
  content: ' (optional)'; }

.substitute {
  font-style: italic; }

.substitute::before {
  content: ' (or '; }

.substitute::after {
  content: ') '; }

.directions-title {
  color: #962634;
  border-top: 10px solid #DFE3E7;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 600;
  margin: 20px 0px 10px 0px; }

.method-sub-list {
  margin-top: 1.0em;
  color: #962634; }

.method-part {
  margin-bottom: 10px; }

.method-step {
  padding-bottom: 0.4em; }

.note {
  font-weight: 500;
  color: #0a7586;
  margin-bottom: 0.3em; }

.note::before {
  content: 'NOTE: '; }

.alternative-recipe {
  font-weight: 500;
  color: #0a7586;
  margin-bottom: 0.3em; }

.alternative-recipe::before {
  content: 'ALTERNATIVE RECIPE: '; }

.variation {
  font-weight: 500;
  color: #0a7586;
  margin-bottom: 0.3em; }

.variation::before {
  content: 'VARIATION: '; }

.serve-with {
  font-weight: 500;
  color: #0a7586;
  margin-top: 0.3em; }

.serve-with::before {
  content: 'SERVE WITH: '; }

/*
*
*  Styles for COOKING LOG 
*
*/
.log-entry {
  padding-top: 20px; }

.log-header {
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  text-transform: uppercase; }

.log-date {
  display: inline; }

.log-title {
  padding-left: 0.6em;
  display: inline; }

.log-rating-unknown {
  padding-left: 1em;
  display: inline; }

.log-rating-0 {
  padding-left: 1em;
  display: inline; }

.log-rating-1 {
  padding-left: 1em;
  display: inline; }

.log-rating-2 {
  padding-left: 1em;
  display: inline; }

.log-rating-3 {
  padding-left: 1em;
  display: inline; }

.log-rating-4 {
  padding-left: 1em;
  display: inline; }

.log-rating-5 {
  padding-left: 1em;
  display: inline; }

.log-rating-6 {
  padding-left: 1em;
  display: inline; }

.log-rating-7 {
  padding-left: 1em;
  display: inline; }

.log-rating-8 {
  padding-left: 1em;
  display: inline; }

.log-rating-9 {
  padding-left: 1em;
  display: inline; }

.log-rating-10 {
  padding-left: 1em;
  display: inline; }

.log-rating-unknown::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "?"; }

.log-rating-0::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f006\f006\f006\f006\f006\f006\f006\f006\f006\f006"; }

.log-rating-1::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f006\f006\f006\f006\f006\f006\f006\f006\f006"; }

.log-rating-2::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f006\f006\f006\f006\f006\f006\f006\f006"; }

.log-rating-3::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f006\f006\f006\f006\f006\f006\f006"; }

.log-rating-4::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f005\f006\f006\f006\f006\f006\f006"; }

.log-rating-5::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f005\f005\f006\f006\f006\f006\f006"; }

.log-rating-6::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f005\f005\f005\f006\f006\f006\f006"; }

.log-rating-7::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f005\f005\f005\f005\f006\f006\f006"; }

.log-rating-8::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f006\f006"; }

.log-rating-9::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f005\f006"; }

.log-rating-10::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005"; }

.log-header.collapsed::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f078"; }

.log-header:not(.collapsed)::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f077"; }

/*
*
*  Styles for WHAT'S THAT CALLED...
*
*/
.name-from {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  padding: 10px 0px   0px 0px; }

.name-to::before {
  content: '  '; }

/*
*
*  Styles for PROJECTS
*
*/
.project-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  padding: 20px 0px 10px 0px; }

.project-detail {
  display: block;
  padding: 0px 0px 0px 0px; }

.project-description {
  display: block;
  font-weight: 600;
  padding: 0px 0px 0px 0px; }

/*
*
*  Styles for GUIDES
*
*/
.guide-section-first, .guide-section {
  color: #962634;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 600;
  padding-top: 20px; }

.guide-section {
  border-top: 5px solid #DFE3E7;
  margin: 20px 0px 10px 0px; }

@media (min-width: 576px) {
  .guide-header {
    margin-top: 20px; } }

/*
*
*  Styles for Where Can I Buy
*
*/
#shopmap {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 100%;
  /* The height is 400 pixels */
  width: 100%; }

/*
*
*  Styles for WEIGHTS AND VOLUMES 
*
*/
