@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/*
*
* COLORS and VARIABLES
*
*/
$basq-blue : #0D9EB6;
$basq-red : #962634;
$basq-yellow : #F4BA49;
$basq-grey : #CCCCCE;
$basq-white : #DFE3E7;
$basq-black : #08080D;


/*
*
* STYLES for APPLICATION
*
*/
body{
  background: $basq-white;
}

.container{
  background: white;
}

.page-title{
  display:block;
  font-size: 400%;
  font-weight: 900;
  padding: 20px 15px 20px 15px;
  background: $basq-blue;
  color : white;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-color: $basq-yellow;
  word-wrap: break-word;
  line-height : 1.15em;
}

@media (min-width: 576px) {
  .page-title{
    border-left: 1px solid $basq-grey;
    border-right: 1px solid $basq-grey;
  }
}

.jumbotron{
  background: $basq-blue;
  color: $basq-white;
  padding: 2rem 1rem; 
  margin-bottom: 0px;
  border-radius: 0px;
}

a{
  color: $basq-blue;
}

a:hover{
  color: $basq-red;
  text-decoration: none;
}


/*
*
*  Styles for INDEX 
*
*/
.recipe-list{
  border-left: 1px solid $basq-grey;
  border-right: 1px solid $basq-grey;
}

.recipe-section-title{
  margin: 20px 0px 5px 0px;
  color : $basq-red ;
  font-size: 150%;
  font-weight: 500;
}

.recipe-link{
  display: block;
  font-size: 120%;
  padding: 0px 0px 0px 0px;
}

.vegetarian::after{
  padding-left : 0.5em;
  content: url(../images/Veggie.svg);
}

.resource-link {
  display: block;
  font-size: 120%;
  padding: 0px 0px 0px 0px; }

.resource-title{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  padding: 20px 0px 10px 0px;
}


/*
*
*  Styles for RECIPES   
*
*/

.recipe{
  padding-bottom: 15px;
}

@media (min-width: 576px) {
  .recipe{
    border-left: 1px solid $basq-grey;
    border-right: 1px solid $basq-grey;
    border-bottom: 1px solid $basq-grey;
  }
}

@media (min-width: 576px) {
  .recipe-header{
    margin-top: 20px;
  }
}

.ingredient-title{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: $basq-red;
  padding: 20px 0px 10px 0px;
}

.ingredient-sub-list{
  margin-top: 1.0em;
}

.ingredient{

}

.optional::after{
  font-style: italic;
  content : ' (optional)';
}

.servings::before{
  content: "Servings: ";
}

.source-link::before{
  content: "Source: ";
}

.ingredient-spacer{
  height : 0.5em;
}

.directions-title{
  color: $basq-red;
  border-top: 10px solid $basq-white;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 600;
  margin: 20px 0px 10px 0px;
}

.method-step{
  margin-bottom: 10px;
}

.ingredient-sub-list{
  color: $basq-red;
}

.note{
  font-weight: 500;
  color: darken($basq-blue, 10%);
  margin-bottom: 0.3em;
}

.note::before{
  content : 'NOTE: ';
}

.alternative-recipe{
  font-weight: 500;
  color: darken($basq-blue, 10%);
  margin-bottom: 0.3em;  
}

.alternative-recipe::before{
  content : 'ALTERNATIVE RECIPE: ';
}

.variation{
  font-weight: 500;
  color: darken($basq-blue, 10%);
  margin-bottom: 0.3em;
}

.variation::before{
  content : 'VARIATION: ';
}

.variation::before{
  content : 'VARIATION: ';
}

.recipe-ref{

}


/*
*
*  Styles for COOKING LOG 
*
*/
.log-entry{
  padding-top: 20px;
}

.log-header{
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  text-transform: uppercase;
}

.log-date{
  display :inline;
}

.log-title{
  padding-left: 0.6em;
  display :inline;  
}

.log-link{
  text-transform: lowercase;
}

@mixin log-rating{
  padding-left: 1em;
  display :inline;
}

.log-rating-unknown{
  @include log-rating; 
}

.log-rating-0{
  @include log-rating;
}

.log-rating-1{
  @include log-rating;
}

.log-rating-2{
  @include log-rating;
}

.log-rating-3{
  @include log-rating;
}

.log-rating-4{
  @include log-rating;
}

.log-rating-5{
  @include log-rating;
}

.log-rating-6{
  @include log-rating;
}

.log-rating-7{
  @include log-rating;
}

.log-rating-8{
  @include log-rating;
}

.log-rating-9{
  @include log-rating;
}

.log-rating-10{
  @include log-rating;
}

@mixin log-rating-before{
  font-family: "FontAwesome";                     
  font-weight: 900;      
}

.log-rating-unknown::before{
  @include log-rating-before;
  content: "?";  
}

.log-rating-0::before{
  @include log-rating-before;
  content: "\f006\f006\f006\f006\f006\f006\f006\f006\f006\f006";  
}

.log-rating-1::before{
  @include log-rating-before;
  content: "\f005\f006\f006\f006\f006\f006\f006\f006\f006\f006";  
}

.log-rating-2::before{
  @include log-rating-before;
  content: "\f005\f005\f006\f006\f006\f006\f006\f006\f006\f006";  
}

.log-rating-3::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f006\f006\f006\f006\f006\f006\f006";  
}

.log-rating-4::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f005\f006\f006\f006\f006\f006\f006";  
}

.log-rating-5::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f005\f005\f006\f006\f006\f006\f006";  
}

.log-rating-6::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f005\f005\f005\f006\f006\f006\f006";  
}

.log-rating-7::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f005\f005\f005\f005\f006\f006\f006";  
}

.log-rating-8::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f006\f006";  
}

.log-rating-9::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f005\f006";  
}

.log-rating-10::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005";  
}

.log-detail{
  
} 


/*
*
*  Styles for WHAT'S THAT CALLED...
*
*/
.english-name{
        
}

.german-name{
    
}

.name-from{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  padding: 10px 0px   0px 0px;
}

.name-to::before{
  content: '  ';
}


/*
*
*  Styles for PROJECTS
*
*/
.project-title{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  padding: 20px 0px 10px 0px;
}

.project-detail {
  display: block;
  padding: 0px 0px 0px 0px; }

.project-description {
  display: block;
  font-weight: 600;
  padding: 0px 0px 0px 0px; }


/*
*
*  Styles for WEIGHTS AND VOLUMES 
*
*/
.weights-table>thead{
  background: $basq-blue ;
  color: $basq-white;
}