@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/*
*
* COLORS and VARIABLES
*
*/
$basq-blue : #0D9EB6;
$basq-darkblue : darken($basq-blue, 10%);;
$basq-red : #962634;
$basq-yellow : #F4BA49;
$basq-grey : #CCCCCE;
$basq-white : #DFE3E7;
$basq-black : #08080D;


/*
*
* STYLES for APPLICATION
*
*/
body{
  background: $basq-white;
}

.container{
  background: white;
}

.page-title{
  display:block;
  font-size: 400%;
  font-weight: 900;
  padding: 0.25em 0.25em 0.25em 0.25em;
  background: $basq-blue;
  color : white;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-color: $basq-yellow;
  word-wrap: break-word;
  line-height : 1.15em;
}

@media (min-width: 576px) {
  .page-title{
    border-left: 1px solid $basq-grey;
    border-right: 1px solid $basq-grey;
  }
}

.jumbotron{
  background: $basq-blue;
  color: $basq-white;
  padding: 2rem 1rem; 
  margin-bottom: 0em;
  border-radius: 0em;
}

a{
  color: $basq-blue;
}

a:hover{
  color: $basq-red;
  text-decoration: none;
}

table>thead{
  background: $basq-blue ;
  color: $basq-white;
}

caption {
    padding-top: .25rem;
    color: $basq-grey;
}

figcaption {
    padding-top: .25rem;
    color: $basq-grey;
}

input{
  border: 2px solid $basq-grey;
}

/*
*
*  Styles for INDEX 
*
*/
.recipe-list{
  border-left: 1px solid $basq-grey;
  border-right: 1px solid $basq-grey;
  padding-bottom: 1em;
}

.recipe-section-title{
  margin: 1.25em 0em 5px 0em;
  color : $basq-red ;
  font-size: 150%;
  font-weight: 500;
}

@mixin link_from-index{
  display: block;
  font-size: 120%;
  padding: 0em 0em 0em 0em;
}

.recipe-link{
  @include link_from-index; 
}

.vegetarian::after{
  padding-left : 0.5em;
  content: url(../images/Veggie.svg);
}

.guide-link{
  @include link_from-index; 
}


.resource-link {
  @include link_from-index; 
}

.resource-title{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  padding: 1.25em 0em 0.5em 0em;
}


/*
*
*  Styles for RECIPES   
*
*/

.recipe{
  padding-bottom: 1em;
}

@media (min-width: 576px) {
  .recipe{
    border-left: 1px solid $basq-grey;
    border-right: 1px solid $basq-grey;
    border-bottom: 1px solid $basq-grey;
  }
}

@media (min-width: 576px) {
  .recipe-header{
    margin-top: 1.25em;
  }
}

.servings{
  padding-top: 1em;
}

.servings::before{
  
  color: $basq-blue;
  font-size: 90%;
  text-transform: uppercase;
  content: "Servings: ";
}

@mixin serving-input{
  text-align: right;
  padding-right: 5px;
}

#servings{
  @include serving-input;
}

#cake-rectangle-number{
  @include serving-input;
}

#cake-rectangle-length{
  @include serving-input;
}

#cake-rectangle-width{
  @include serving-input;
}

#cake-round-number{
  @include serving-input;
}

#cake-round-diameter{
  @include serving-input;
}

.source-link{
  padding-top: 1.5em;
}

.source-link::before{
  color: $basq-blue;
  font-size: 90%;
  text-transform: uppercase;
  content: "Source: ";
}

.recipe-details{
  margin-top: 1em;
}

.ingredient-title{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: $basq-blue;
  padding: 1em 0em 0.5em 0em;
}

.ingredient{
  text-indent: -2em;
  margin-left: 2em;
  margin-bottom: 0.2em;
  font-weight : 600;
}

.ingredient-sub-list{
  margin-top: 1em;
  color: $basq-blue;
  text-transform: uppercase;
}

.ingredient-sub-list-top{
  color: $basq-blue;
  text-transform: uppercase;
}

.ingredient-sub-list{

}

.ingredient-spacer{
  height : 0.5em;
}

.servings-not-adjusted::before{
  content : '(NOT ADJUSTED WITH SERVINGS) ';
}

.adjusted{
  font-style: italic;
  color:$basq-yellow ;
}

div.alternative-ingredient{
  display :inline;
  font-weight: normal;
}

.alternative-ingredient::before{
  color: $basq-blue;
  font-weight: normal;
  content : ' alternative: ';
}

.recipe-ref{

}

.optional::after{
  font-style: italic;
  content : ' (optional)';
}

.substitute{
  font-style: italic;
}

.substitute::before{
  content: ' (or ';
}

.substitute::after{
  content: ') ';
}

.directions-title{
  color: $basq-blue;
  border-top: 0.5em solid $basq-white;
  padding-top: 1.25em;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 600;
  margin: 1.25em 0em 0.5em 0em;
}

.method-sub-list{
  margin-top: 1.0em;
  color: $basq-blue;
}

.method-sub-list-top{
  color: $basq-blue;
}

.method-part{
  margin-bottom: 0.5em;
}

.method-step{
  padding-bottom: 0.4em;
}

@media (min-width:576px) {
  .directions
  {
    border-left: 2px solid $basq-blue;
  }
}

ol.directions-list li {
  counter-increment: methodstepcount
}

@media (max-width:575px) {
  .directions-list
  {
    padding-top : 1em;
    margin-top : 1em;
    padding-bottom : 1em;
    border-top: 2px solid $basq-blue;
  }
}

ol.directions-list li:before {
  content: counter(methodstepcount) ". ";
  color: $basq-blue;
}

ol.directions-list {
  list-style: none;
  counter-reset: methodstepcount;
  padding-inline-start: 0px;
}


.note{
  font-weight: 500;
  color: $basq-blue;
  margin-bottom: 0.3em;
}

.note::before{
  content : 'NOTE: ';
}

.alternative-recipe{
  font-weight: 500;
  color: $basq-blue;
  margin-bottom: 0.3em;  
}

.alternative-recipe::before{
  content : 'ALTERNATIVE RECIPE: ';
}

.variation{
  font-weight: 500;
  color: $basq-blue;
  margin-bottom: 0.3em;
}

.variation::before{
  content : 'VARIATION: ';
}

.serve-with{
  font-weight: 500;
  color: $basq-blue;
  margin-top: 0.3em;
}

.serve-with::before{
  content : 'SERVE WITH: ';
}

.recipe-image{
  width: 100%;
  padding-top: 1em;
}

.serving-suggestions-title{
  color: $basq-blue;
}

.serving-suggestions-list{
  padding-inline-start : 0px;
}

li.serving-suggestion{
  list-style-type: circle;
  list-style-position: inside;
}
/*
*
*  Styles for COOKING LOG 
*
*/
.log-entry{
  padding-top: 1.25em;
}

.log-header{
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  text-transform: uppercase;
}

.log-date{
  display :inline;
}

.log-title{
  padding-left: 0.6em;
  display :inline;  
}

.log-link{
}

@mixin log-rating{
  padding-left: 1em;
  display :inline;
}

.log-rating-unknown{
  @include log-rating; 
}

.log-rating-0{
  @include log-rating;
}

.log-rating-1{
  @include log-rating;
}

.log-rating-2{
  @include log-rating;
}

.log-rating-3{
  @include log-rating;
}

.log-rating-4{
  @include log-rating;
}

.log-rating-5{
  @include log-rating;
}

.log-rating-6{
  @include log-rating;
}

.log-rating-7{
  @include log-rating;
}

.log-rating-8{
  @include log-rating;
}

.log-rating-9{
  @include log-rating;
}

.log-rating-10{
  @include log-rating;
}

@mixin log-rating-before{
  font-family: "FontAwesome";                     
  font-weight: 900;      
}

.log-rating-unknown::before{
  @include log-rating-before;
  content: "?";  
}

.log-rating-0::before{
  @include log-rating-before;
  content: "\f006\f006\f006\f006\f006\f006\f006\f006\f006\f006";  
}

.log-rating-1::before{
  @include log-rating-before;
  content: "\f005\f006\f006\f006\f006\f006\f006\f006\f006\f006";  
}

.log-rating-2::before{
  @include log-rating-before;
  content: "\f005\f005\f006\f006\f006\f006\f006\f006\f006\f006";  
}

.log-rating-3::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f006\f006\f006\f006\f006\f006\f006";  
}

.log-rating-4::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f005\f006\f006\f006\f006\f006\f006";  
}

.log-rating-5::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f005\f005\f006\f006\f006\f006\f006";  
}

.log-rating-6::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f005\f005\f005\f006\f006\f006\f006";  
}

.log-rating-7::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f005\f005\f005\f005\f006\f006\f006";  
}

.log-rating-8::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f006\f006";  
}

.log-rating-9::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f005\f006";  
}

.log-rating-10::before{
  @include log-rating-before;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005";  
}

.log-detail{
  
} 

.log-header.collapsed::before{
  font-family: "FontAwesome";                     
  font-weight: 900;      
  content: "\f078";  
}

.log-header:not(.collapsed)::before{
  font-family: "FontAwesome";                     
  font-weight: 900;      
  content: "\f077";  
}


/*
*
*  Styles for WHAT'S THAT CALLED...
*
*/
.english-name{
        
}

.german-name{
    
}

.name-from{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  padding: 0.5em 0em   0em 0em;
}

.name-to::before{
  content: '  ';
}


/*
*
*  Styles for PROJECTS
*
*/
.project-title{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 120%;
  color: #962634;
  padding: 1.25em 0em 0.5em 0em;
}

.project-detail {
  display: block;
  padding: 0em 0em 0em 0em; }

.project-description {
  display: block;
  font-weight: 600;
  padding: 0em 0em 0em 0em; }


/*
*
*  Styles for GUIDES
*
*/
.guide-section-first{
  color: $basq-blue;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 600;
  padding-top: 1.25em;
}

.guide-section{
  @extend .guide-section-first;
  border-top: 5px solid $basq-white;
  margin: 1.25em 0em 0.5em 0em;
}

@media (min-width: 576px) {
  .guide-header{
    margin-top: 1.25em;
  }
}

.guide{
  padding-bottom: 1em;
}

@media (min-width: 576px) {
  .guide{
    border-left: 1px solid $basq-grey;
    border-right: 1px solid $basq-grey;
    border-bottom: 1px solid $basq-grey;
  }
}

/*
*
*  Styles for Where Can I Buy
*
*/
.shop-link{
  
}

#shopmap{
  margin-top: 1em;
  margin-bottom: 1em;
  height: 100%;
  /* The height is 400 pixels */
  width: 100%;
}

/*
*
*  Styles for WEIGHTS AND VOLUMES 
*
*/